<!-- <div *ngIf="employee">

  <h2>{{employee.firstName | uppercase }} {{employee.lastName | uppercase}} Details</h2>
  <div><span>id: </span>{{ employee.id }}</div>
  <div>
    <label>First Name:
      <input [(ngModel)]="employee.firstName" placeholder="employee.firstName"/>
    </label>
    <label>Last Name:
      <input [(ngModel)]="employee.lastName" placeholder="employee.lastName"/>
    </label>
  </div>

</div> -->
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="employeeID" #id="ngModel" [(ngModel)]="employee.employeeID" required>
  <div class="form-group">
    <label for="firstName">First Name
    </label>
    <input name="firstName" pattern="[a-z A-Z]+" #firstName="ngModel" [(ngModel)]="employee.firstName" class="form-control form-control-sm" required >
    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
      <span *ngIf="firstName.errors.required"><p class="text-danger">First Name Field is required</p> </span>
            <span *ngIf="firstName.errors.pattern"><p class="text-danger">Invalid First Name</p> </span>
    </div>

  </div>

  <div class="form-group">
    <label for="lastName">Last Name
    </label>
    <input name="lastName" pattern="[a-z A-Z]+" #lastName="ngModel" [(ngModel)]="employee.lastName" class="form-control form-control-sm" required>
    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
      <span *ngIf="lastName.errors.required"><p class="text-danger">Last Name Field is required</p> </span>
            <span *ngIf="lastName.errors.pattern"><p class="text-danger">Invalid Last Name</p> </span>
    </div>
  </div>

  <div class="form-group">
    <label for="phoneNumber">Contact Number
    </label>
    <input name="phoneNumber" pattern="[0-9]*" type="text" #phoneNumber="ngModel" [(ngModel)]="employee.phoneNumber" class="form-control form-control-sm" minlength="10" maxlength="10" required>
    <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
      <span *ngIf="phoneNumber.errors.required"><p class="text-danger">Phone Number Field is required</p> </span>
      <span *ngIf="(phoneNumber.errors.minlength || phoneNumber.errors.maxlength || phoneNumber.errors.pattern)"><p class="text-danger">Invalid Phone Number</p> </span>
    </div>
  </div>

  <div class="form-group">
    <label for="docProofLink">Document Proof
    </label>
    <input name="docProofLink" #docProofLink="ngModel" [(ngModel)]="employee.docProofLink" class="form-control form-control-sm" required>
    <div *ngIf="docProofLink.invalid && (docProofLink.dirty || docProofLink.touched)">
        <span *ngIf="docProofLink.errors.required"><p class="text-danger">Document Link is required</p> </span>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email Address
    </label>
    <input name="email" type="email" #email="ngModel" [(ngModel)]="employee.email" class="form-control form-control-sm" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
    <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <span *ngIf="email.errors.required"><p class="text-danger">Email Field is required</p> </span>
        <span *ngIf="email.errors.pattern"><p class="text-danger">Invalid Email</p> </span>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password
    </label>
    <input name="password" #password="ngModel" [(ngModel)]="employee.password" class="form-control form-control-sm" pattern=".{6,}" required>
    <div *ngIf="password.invalid && (password.dirty || password.touched)">
      <span *ngIf="password.errors.required"><p class="text-danger">Password Field is required</p> </span>
      <span *ngIf="password.errors.pattern"><p class="text-danger">Password Must Contain 6 or More Characters</p> </span>
    </div>
  </div>

  <div class="form-group">
    <label for="departmentID">Department
    </label>
    <select name="departmentID" type="number" #departmentID="ngModel" [(ngModel)]="employee.departmentID" class="form-control form-control-sm" required>
      <option *ngFor="let department of departments" value="{{ department.departmentID }}">{{ department.departmentName }}</option>
    </select>
    <div *ngIf="departmentID.invalid && (departmentID.dirty || departmentID.touched)">
      <span *ngIf="departmentID.errors.required"><p class="text-danger">Select a Department</p> </span>
    </div>
  </div>

  <div class="form-group">
    <label for="salary">Salary
    </label>
    <input name="salary" type="number" #salary="ngModel" [(ngModel)]="employee.salary" class="form-control form-control-sm" required>
    <div *ngIf="salary.invalid && (salary.dirty || salary.touched)">
        <span *ngIf="salary.errors.required"><p class="text-danger">Salary Field is Required</p> </span>
      </div>
  </div>
  <div class="form-group">
    <button type="submit"  class="btn btn-success btn-lg btn-block" [disabled]="form.invalid">Store</button>
  </div>
</form>