<!-- <div *ngIf="employee">

  <h2>{{employee.firstName | uppercase }} {{employee.lastName | uppercase}} Details</h2>
  <div><span>id: </span>{{ employee.id }}</div>
  <div>
    <label>First Name:
      <input [(ngModel)]="employee.firstName" placeholder="employee.firstName"/>
    </label>
    <label>Last Name:
      <input [(ngModel)]="employee.lastName" placeholder="employee.lastName"/>
    </label>
  </div>

</div> -->
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="employee.id"  required>
  <div class="form-group">
    <label for="firstName">First Name
    </label>
    <input name="firstName" #firstName="ngModel" [(ngModel)]="employee.firstName" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="lastName">Last Name
    </label>
    <input name="lastName" #lastName="ngModel" [(ngModel)]="employee.lastName" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="phoneNumber">Contact Number
    </label>
    <input name="phoneNumber" type="number" #phoneNumber="ngModel" [(ngModel)]="employee.phoneNumber" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="docProofLink">Document Proof
    </label>
    <input name="docProofLink" #docProofLink="ngModel" [(ngModel)]="employee.docProofLink" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="email">Email Address
    </label>
    <input name="email" type="email" #email="ngModel" [(ngModel)]="employee.email" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="password">Password
    </label>
    <input name="password" #password="ngModel" [(ngModel)]="employee.password" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="departmentId">Department
    </label>
    <input name="departmentId" type="number" #departmentId="ngModel" [(ngModel)]="employee.departmentId" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="salary">Salary
    </label>
    <input name="salary" type="number" #salary="ngModel" [(ngModel)]="employee.salary" class="form-control" require>
  </div>
  <div class="form-group">
    <button type="submit"  class="btn btn-success btn-lg btn-block" [disabled]="form.invalid">Store</button>
  </div>
</form>