{{ employees }}
        <h2>Employee List</h2>
        <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
        
              <th>Sno.</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Contact</th>
        
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees; let i = index" [class.selected]="employee === selectedEmp" (click)="onSelect(employee)">
              <td>{{ i+1 }}</td>
              <td>{{ employee.firstName | uppercase }}</td>
              <td>{{ employee.lastName | uppercase }}</td>
              <td><a href='mailto:{{ employee.email }}'>{{ employee.email }}</a></td>
              <td>{{ employee.phoneNumber }}</td>
            </tr>
          </tbody>
        </table>
        </div>
        
        <app-employee-details [employee]="selectedEmp"></app-employee-details>
        